# ---- BACK-END ----

/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/

# --- FRONT-END ---
.tmp
/node_modules
yarn.lock
package-lock.json

# --- GENERAL ---
# JetBrains
.idea
# OS
.DS_Store
# GIT
.git
# LOGS
*.log
# Other
.settings