@import "common/elements/elements";
@import "../../node_modules/bootstrap/dist/css/bootstrap.css";

html {
  margin: 0px;
  height: 100%;
  width: 100%;
}

body {
  margin: 0px;
  min-height: 100%;
  width: 100%;
  background-color: $skyBlue !important;
}

.app {
  height: 100%;
  background-color: $skyBlue;
}
